.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.w-full {
    width: 100%;
}